{% extends 'base.html' %}
{% block title %}All windows{% endblock %}
{% block content %}
<h1 class="all-windows-title">Окна ПВХ</h1>
<div class="img-container">
<p></p>
<img alt='window' src="https://klike.net/uploads/posts/2020-04/1587026186_1.jpg" width="400">
</div>
  <p></p>
<li class="logo"><a href="{% url 'all_glasses' %}"><div class="logo"></div>Виды стеклопакетов</a></li>
<p></p>
<table class="table table-warning table-striped">
  <thead>
    <tr>
      <th scope="col">Номер</th>
      <th scope="col">Наименование</th>
      <th scope="col">Ширина, мм</th>
      <th scope="col">Высота, мм</th>
      <th scope="col">Стоимость, руб</th>
    </tr>
  </thead>
  <tbody>
  {% for window in context.windows %}
    <tr>
      <th scope="row">{{ window.id }}</th>
      <td><a target="_blank" href={% url 'window' window_id=window.id %}>{{ window.name }}</a></td>
      <td>{{ window.width }}</td>
      <td>{{ window.height }}</td>
      <td>{{ window.price }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>

{% endblock %}