.all-windows-title {
    color: blue;
    text-align: center;
    margin: 40px;
    background-color: flex;

}
.all-glasss-title {
    color: blue;
    text-align: center;
    margin: 40px;
    background-color: flex;
    border: 4px dashed crimson;
}
.img-container {
    display: flex;
    justify-content: center;
}

body {
    background-color: antiquewhite;
}
.window-table {
    margin-top: 40px;
}